<div class="container">
    <div class="row alertnotification" *ngIf="lblshow" [appNotificationAlert]="color">
        <div class="col-sm" style="color: white">{{Msg}} <span style="color: white;float: right;"><a  (click)="lblshow=false">x</a></span></div>
      
      </div>
    <div *ngIf="searchdiv">
        <div class="row">
            <div class="col-sm">
        
                <div class="md-form">  
                    <input mdbInputDirective id="searchcode" class="form-control" [(ngModel)]="searchcode">
                    <label for="searchcode">Code</label>
                  </div>           
                </div> 
            <div class="col-sm">
                <div class="md-form">  
                                  
                                    <input mdbInputDirective id="searchname" class="form-control" [(ngModel)]="searchname">
                                    <label for="searchname">Name</label>
        </div>  </div>
        <div class="col-sm">
               
                <button class="btn green-gradient btn-rounded btn-sm" 
                type="submit" style="float:right" (click)="Add()" *ngIf="IsAdd">Add</button>
        </div>
        </div>
    <div class="row top">
      <div class="col-sm">
    
        <label>Category</label>
        <input class="form-control" [(ngModel)]="searchcategory">
</div>
<div class="col-sm"></div>
<div class="col-sm"></div>
    </div>
    <div class="row td">
        <div class="col-sm">
                <button class="btn peach-gradient btn-rounded btn-sm" 
                type="submit" (click)="Search()">Search</button>
                <button class="btn red-gradient btn-rounded btn-sm" 
                type="submit" (click)="SearchClear()">Clear</button>
        </div>
        <div class="col-sm">
               
        </div>
        <div class="col-sm">  

        </div>
    </div>
    <div class="row top"  *ngIf="gridData.length == 0">
        <div class="col-sm" style="color: red">No Record(s) Found!..</div>
    </div>
    <div class="row top" *ngIf="gridData.length != 0">
            <div class="col-sm">
              <!-- <button class="btn btn-success btn-rounded btn-sm" 
              type="submit" (click)="Print()">Print</button> -->
            </div>
            <div class="col-sm"></div>
            <div class="col-sm">  
<input class="form-control" type="text" [(ngModel)]="searchText" placeholder="Search" aria-label="Search">
            </div>
        </div>
        <div class="row top" *ngIf="gridData.length != 0">
                <table class="table table-hover table-responsive-md mb-0">
  
                        <!--Table head-->
                        <thead>
                          <tr>
                            <th scope="row">SNO
                                    <a (click)="sortBy('ItemID')" >
                                            <mdb-icon icon="sort" class="ml-1"></mdb-icon>
                                          </a>
                            </th>
                            <th>
                                    <a (click)="sortBy('ItemCode')">Item Code
                                            <mdb-icon icon="sort" class="ml-1"></mdb-icon>
                                          </a></th>
                            <th>
                                    <a (click)="sortBy('ItemName')">ItemName
                                            <mdb-icon icon="sort" class="ml-1"></mdb-icon>
                                          </a></th>
                                          <th>
                                            <a (click)="sortBy('CategoryName')">Category
                                                    <mdb-icon icon="sort" class="ml-1"></mdb-icon>
                                                  </a></th>
                                                  <th>
                                                    <a (click)="sortBy('ItemPrice')">Item Price
                                                            <mdb-icon icon="sort" class="ml-1"></mdb-icon>
                                                          </a></th>
                            <th>
                                </th>
                          </tr>
                        </thead>
                        <!--Table head-->
                  
                        <!--Table body-->
                        <tbody>
                          <tr *ngFor="let data of gridData | basecustompipe: { ItemCode: searchText, ItemName: searchText,CategoryName: searchText, ItemPrice: searchText} : false; let w = index">
                              
                            <th px-3 *ngIf="data.ItemID >= firstVisibleIndex && data.ItemID <= lastVisibleIndex" scope="row">{{w+1}}</th>
                            <td *ngIf="data.ItemID >= firstVisibleIndex && data.ItemID <= lastVisibleIndex">{{data.ItemCode}}</td>
                            <td *ngIf="data.ItemID >= firstVisibleIndex && data.ItemID <= lastVisibleIndex">{{data.ItemName}}</td>
                            <td *ngIf="data.ItemID >= firstVisibleIndex && data.ItemID <= lastVisibleIndex">{{data.CategoryName}}</td>
                            <td *ngIf="data.ItemID >= firstVisibleIndex && data.ItemID <= lastVisibleIndex">{{data.ItemPrice}}</td>
                            <td *ngIf="data.ItemID >= firstVisibleIndex && data.ItemID <= lastVisibleIndex">
                                <div class="row">
                                            <div class="col col-lg-1">
                                                            <a (click)="View(data.ItemID)" *ngIf="IsView">
                                                            <i class="fa fa-eye" aria-hidden="true" style="color: green;font-size: large;"></i>
                                                              </a>
                                                            </div>
                                            <div class="col col-lg-1">
                                    <a (click)="Edit(data.ItemID)" *ngIf="IsEdit">
                                    <i class="fa fa-pencil" aria-hidden="true" style="color: green;font-size: large;"></i>
                                      </a>
                                    </div>
                                    <div class="col col-lg-1">
                                      <a (click)="Delete(data.ItemID)" *ngIf="IsDelete">
                                            <i class="fa fa-remove" aria-hidden="true" style="color: red;font-size: large;"></i>
                                          </a>
                                    </div>
                                    </div>
                            </td>
                          </tr>
                        </tbody>
                        <!--Table body-->
                      </table>
                      <div class="d-flex justify-content-center">
      
                            <!--Pagination -->
                            <nav class="my-4 pt-2">
                              <ul class="pagination pagination-circle pg-orange mb-0">
                        
                                <!--First-->
                                <li class="page-item clearfix d-none d-md-block" (click)="firstPage()" [ngClass]="{disabled: activePage == 1}">
                                  <a class="page-link">First</a>
                                </li>
                        
                                <!--Arrow left-->
                                <li class="page-item" (click)="previousPage($event)" [ngClass]="{disabled: activePage == 1}">
                                  <a class="page-link" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                  </a>
                                </li>
                        
                                <!--Numbers-->
                                <li #pages *ngFor="let page of paginators | slice:firstVisiblePaginator:lastVisiblePaginator; let i = index" class="page-item" [ngClass]="{active: i + firstVisiblePaginator + 1 == activePage}">
                                    <a class="page-link waves-light" (click)="changePage($event)" mdbWavesEffect>{{page}}</a>
                                </li>      
                        
                        
                                <!--Arrow right-->
                                <li class="page-item" (click)="nextPage($event)" [ngClass]="{disabled: activePage == numberOfPaginators}">
                                  <a class="page-link" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                  </a>
                                </li>
                        
                                <!--First-->
                                <li class="page-item clearfix d-none d-md-block" (click)="lastPage()" [ngClass]="{disabled: activePage == numberOfPaginators}">
                                  <a class="page-link">Last</a>
                                </li>
                        
                              </ul>
                            </nav>
                            <!--/Pagination -->
                        
                          </div>
        </div>
    </div>
    <div *ngIf="adddiv">
   
    <form class="col s12 white" #ItemsForm="ngForm">
                        
        <div class="row">
            <div class="input-field col s6">
             Item Code
              <input type="text" class="validate" [disabled]="isView" autofocus name="ItemCode" #ItemCode="ngModel" [(ngModel)]="items.ItemCode" required>
               <span style="color: red" *ngIf="ItemCode.invalid">Item Code Is Required</span>
            </div>
            <div class="input-field col s6">
                  Item Name
                  <input type="text" class="validate" [disabled]="isView"  name="ItemName" #ItemName="ngModel" [(ngModel)]="items.ItemName" required>
                  <span style="color: red" *ngIf="ItemName.invalid">Item Name Is Required</span>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
                <label style="top: -36px !important">Category</label>  
                <select class="browser-default validate" [(ngModel)]="items.CategoryID" name="CategoryID" [disabled]="isView" (change)="onSelect($event.target.value)" required>                                
                   
                    <option [value]="0" selected="true">
                        Select Category
                    </option><option *ngFor="let s of categories" [value]="s.CategoryID">
                        {{s.CategoryName}}
                    </option>
                  </select>
                  <span style="color: red" *ngIf="CategoryID.invalid">Category Is Required</span>
            </div>
            <div class="input-field col s6">
                   Item Price
                  <input type="number" class="validate" [disabled]="isView"  name="ItemPrice" #ItemPrice="ngModel" [(ngModel)]="items.ItemPrice" required>
                  <span style="color: red" *ngIf="ItemPrice.invalid">ItemPrice Is Required</span>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
             CGST
              <input type="number" [ngModelOptions]="{standalone: true}" class="validate" 
              [disabled]="isView" name="CGST" #CGST="ngModel" [ngModel]="items.CGST"
              (ngModelChange)="UpdateGST($event,'CGST')" required>
              <span style="color: red" *ngIf="CGST.invalid">CGST Is Required</span>
            </div>
            <div class="input-field col s6">
                   SGST
                  <input type="number" [ngModelOptions]="{standalone: true}" 
                  class="validate" [disabled]="isView" name="SGST" #SGST="ngModel" [ngModel]="items.SGST"
                  (ngModelChange)="UpdateGST($event,'SGST')" required>
                  <span style="color: red" *ngIf="SGST.invalid">SGST Is Required</span>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
                  IGST
              <input type="number" [ngModelOptions]="{standalone: true}" 
              class="validate" [disabled]="isView" name="IGST" #IGST="ngModel" [ngModel]="items.IGST"
              (ngModelChange)="UpdateGST($event,'IGST')" required>
              <span style="color: red" *ngIf="IGST.invalid">IGST Is Required</span>
            </div>
            <div class="input-field col s6">
                  Total GST
                  <input type="number" class="validate" [disabled]="true" name="TotalGST" #TotalGST="ngModel" [(ngModel)]="items.TotalGST" required>
                  <span style="color: red" *ngIf="TotalGST.invalid">TotalGST Is Required</span>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
                Min Quantity
              <input type="number" class="validate" [disabled]="isView" name="MinQuantity" #MinQuantity="ngModel" [(ngModel)]="items.MinQuantity" required>
              <span style="color: red" *ngIf="MinQuantity.invalid">MinQuantity Is Required</span>
            </div>
            <div class="input-field col s6">
                  Max Quantity
                  <input type="number" class="validate" [disabled]="isView" name="MaxQuantity" #MaxQuantity="ngModel" [(ngModel)]="items.MaxQuantity" required>
                  <span style="color: red" *ngIf="MaxQuantity.invalid">MaxQuantity Is Required</span>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
             Discount(%)
              <input type="number" class="validate" [disabled]="isView" name="Discount" #Discount="ngModel" [(ngModel)]="items.Discount" required>
              <span style="color: red" *ngIf="Discount.invalid">Discount Is Required</span>
            </div>
            <div class="input-field col s6">
                 
            </div>
          </div>
      <div class="row">
        <div class="col-sm">
                <button [hidden]="savehide" class="btn bluegreen-gradient btn-rounded btn-sm" 
                type="submit" [disabled]="!ItemsForm.valid" (click)="Save()">Save</button>
                <button [hidden]="edithide" [disabled]="!ItemsForm.valid" (click)="Update()" class="btn bluegreen-gradient btn-rounded btn-sm" 
                type="submit">Update</button>
                <button [hidden]="clrhide" (click)="Clear()" class="btn peach-gradient btn-rounded btn-sm" 
                type="submit">Clear</button>
                <button [hidden]="cnlhide" class="btn redw-gradient btn-rounded btn-sm" 
                type="submit" (click)="Cancel()">Cancel</button>
        </div>
          
    </div>
</form>
    
    </div>
    </div>
   